schema/LOM-GR_LOR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	elementFormDefault="qualified" 
	version="LOM PHOTODENTRO-DS v2.3.1/March 2014">
	<!-- ===================================================================================== -->	
	<xs:annotation>
		<xs:documentation>
			IEEE LOM Photodentro Digital School (DS) Application Profile
			version 2.3.1
			March 2014
			Computer Technology Institute and Press "Diophantus"
		</xs:documentation>
	</xs:annotation>
	<!-- ===================================================================================== -->
	<xs:complexType name="lomPhotodentroDS">
		<xs:sequence>
			<xs:group ref="general"/>
			<xs:group ref="lifeCycle"/>
			<xs:group ref="metaMetadata"/>
			<xs:group ref="technical"/>
			<xs:group ref="educational" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="rights"/>
			<xs:group ref="relation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="classification" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="lom" type="lomPhotodentroDS"/>
	<xs:element name="source">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="PhotodentroAPv2.3"/>
				<xs:enumeration value="LOMv1.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

<!-- ===================================================================================== -->	
<!-- 1. General -->
	
	<!-- 1.7 Structure -->
	<xs:simpleType name="structureValues">
		<xs:restriction base="xs:token">
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="ατομική"/>
			<xs:enumeration value="συλλογή"/>
			<xs:enumeration value="δικτυωμένη"/>
			<xs:enumeration value="ιεραρχική"/>
			<xs:enumeration value="γραμμική"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- 1.8 Aggregation level -->
	<xs:simpleType name="aggregationLevelValues">
		<xs:restriction base="xs:token">
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="ατομικό μαθησιακό αντικείμενο"/>
			<xs:enumeration value="σύνθετο μαθησιακό αντικείμενο"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="structure">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="structureValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="aggregationLevel">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="aggregationLevelValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	<xs:complexType name="general">
		<xs:sequence>
			<xs:element name="identifier" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="catalog" type="CharacterString"/>
						<xs:element name="entry" type="CharacterString"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="title" type="LangString" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="language" type="Language" minOccurs="1" maxOccurs="10"/>
			<xs:element name="description" type="LangString" minOccurs="1"  maxOccurs="unbounded"/>
			<xs:element name="keyword" type="LangString" minOccurs="0" maxOccurs="30"/>
			<xs:element name="coverage" type="LangString" minOccurs="0" maxOccurs="10"/>
			<xs:element name="structure" type="structure" minOccurs="0"/>
			<xs:element name="aggregationLevel" type="aggregationLevel" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="general">
		<xs:sequence>
			<xs:element name="general" type="general"/>
		</xs:sequence>
	</xs:group>
	
<!-- ===================================================================================== -->
<!-- 2. Lifecycle -->	
	
	<!-- 2.2 Status -->
	<xs:simpleType name="statusValues">
		<xs:restriction base="xs:token">
			<!-- IEEE LOM default values -->
			<xs:enumeration value="προσχέδιο"/>
			<xs:enumeration value="τελικό"/>
			<xs:enumeration value="αναθεωρημένο"/>
			<xs:enumeration value="μη διαθέσιμο"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="status">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="statusValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- 2.3.1 Role -->
	<xs:simpleType name="roleValues">
		<xs:restriction base="xs:token">
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="δημιουργός"/>
			<xs:enumeration value="εμπνευστής"/>
			<xs:enumeration value="επικυρωτής"/>
			<xs:enumeration value="επιμελητής"/>
			<xs:enumeration value="τεχνικός υλοποίησης"/>
			<xs:enumeration value="πάροχος περιεχομένου"/>
			<xs:enumeration value="τεχνικός επικυρωτής"/>
			<xs:enumeration value="παιδαγωγικός επικυρωτής"/>
			<xs:enumeration value="συγγραφέας σεναρίου"/>
			<xs:enumeration value="υπεύθυνος παιδαγωγικού σχεδιασμού"/>
			<xs:enumeration value="ειδήμων γνωστικού αντικειμένου"/>
			<xs:enumeration value="συντονιστής ομάδας σχεδιασμού και ανάπτυξης"/>
			<xs:enumeration value="επιστημονικός υπεύθυνος"/>
			<xs:enumeration value="αδειοδότης"/>
			<xs:enumeration value="χορηγός"/>
			<xs:enumeration value="πιστοποιητής"/>
			<xs:enumeration value="άγνωστος"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="role">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="roleValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="lifeCycle">
		<xs:sequence>
			<xs:element name="version" type="LangString" minOccurs="0"/>
			<xs:element name="status" type="status" minOccurs="0"/>
			<xs:element name="contribute" minOccurs="0" maxOccurs="30">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="role" type="role"/>
						<xs:element name="entity" type="vCard"/>
						<xs:element name="date" type="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="lifeCycle">
		<xs:sequence>
			<xs:element name="lifeCycle" type="lifeCycle"/>
		</xs:sequence>
	</xs:group>
	
<!-- ===================================================================================== -->	
<!-- 3. metaMetadata -->
	
	<!-- 3.2.1 Role -->
	<xs:simpleType name="metaroleValues">
		<xs:restriction base="xs:token">
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="μετασχολιαστής"/>
			<xs:enumeration value="εμπλουτιστής"/>
			<xs:enumeration value="πάροχος"/>
			<xs:enumeration value="επικυρωτής"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="metarole">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="metaroleValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="metaMetadata">
		<xs:sequence>
			<xs:element name="identifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="catalog" type="CharacterString"/>
						<xs:element name="entry" type="URI"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="contribute" minOccurs="1" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="role" type="metarole"/>
						<xs:element name="entity" type="vCard" minOccurs="1" maxOccurs="10"/>
						<xs:element name="date" type="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="metadataSchema" type="CharacterString" maxOccurs="10"/>
			<xs:element name="language" type="Language"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="metaMetadata">
		<xs:sequence>
			<xs:element name="metaMetadata" type="metaMetadata"/>
		</xs:sequence>
	</xs:group>
	
<!-- ===================================================================================== -->	
<!-- 4. Technical -->
	
	<!-- 4.4.1.1 Type -->
	<xs:simpleType name="typeValues">
		<xs:restriction base="xs:token">
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="λειτουργικό σύστημα"/>
			<xs:enumeration value="φυλλομετρητής"/>
			<xs:enumeration value="πρόσθετα"/>
			<xs:enumeration value="λογισμικό"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="type">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="typeValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- 4.4.1.2 Name -->
	<xs:simpleType name="nameValues">
		<xs:restriction base="xs:token">
			<!-- IEEE LOM default values -->
			<xs:enumeration value="any"/>
			<xs:enumeration value="netscape communicator"/>
			<xs:enumeration value="ms-internet explorer"/>
			<xs:enumeration value="opera"/>
			<xs:enumeration value="amaya"/>
			<xs:enumeration value="pc-dos"/>
			<xs:enumeration value="ms-windows"/>
			<xs:enumeration value="macos"/>
			<xs:enumeration value="unix"/>
			<xs:enumeration value="multi-os"/>
			<xs:enumeration value="none"/>
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="linux"/>				<!-- os -->
			<xs:enumeration value="mozilla firefox"/>		<!-- browsers -->
			<xs:enumeration value="safari"/>
			<xs:enumeration value="google chrome"/>
			<xs:enumeration value="adobe flash player"/>	<!-- plugin -->
			<xs:enumeration value="quickTime"/>
			<xs:enumeration value="real player"/>
			<xs:enumeration value="media player"/>
			<xs:enumeration value="microsoft silverlight"/>
			<xs:enumeration value="geogebra"/>
			<xs:enumeration value="geogebra 3.2 libraries (by Photodentro)"/>
			<xs:enumeration value="geogebra 4.0 libraries (by Photodentro)"/>
			<xs:enumeration value="google earth plugin"/>
			<xs:enumeration value="adobe shockwave player"/>
			<xs:enumeration value="google spreadsheets"/>
			<xs:enumeration value="imagine logo"/>
			<xs:enumeration value="java"/>
			<xs:enumeration value="e-slate click and play"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="name">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="nameValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="technical">
		<xs:sequence>
			<xs:element name="format" type="MimeType" maxOccurs="40"/>
			<xs:element name="size" type="CharacterString" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="CharacterString" maxOccurs="10"/>
			<xs:element name="requirement" minOccurs="0" maxOccurs="40">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="orComposite" minOccurs="0" maxOccurs="40">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="type" type="type" minOccurs="0" />
									<xs:element name="name" type="name" minOccurs="0"/>
									<xs:element name="minimumVersion" type="CharacterString" minOccurs="0"/>
									<xs:element name="maximumVersion" type="CharacterString" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="installationRemarks" type="LangString" minOccurs="0"/>
			<xs:element name="otherPlatformRequirements" type="LangString" minOccurs="0"/>
			<xs:element name="duration" type="Duration" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="technical">
		<xs:sequence>
			<xs:element name="technical" type="technical"/>
		</xs:sequence>
	</xs:group>
	
<!-- ===================================================================================== -->	
<!-- 5. Educational -->
	
	<!-- 5.1 Interactivity Type -->
	<xs:simpleType name="interactivityTypeValues">
		<xs:restriction base="xs:token">
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="ενεργό/διαδραστικό"/>
			<xs:enumeration value="αφηγηματικό"/>
			<xs:enumeration value="μικτό"/>			
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="interactivityType">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="interactivityTypeValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- 5.2 Learning Resource Type -->
	<xs:simpleType name="learningResourceTypeValues">
		<xs:restriction base="xs:token">
			<!-- IEEE LOM default values -->
			<xs:enumeration value="άσκηση"/>
			<xs:enumeration value="προσομοίωση"/>
			<xs:enumeration value="ερωτηματολόγιο"/>
			<xs:enumeration value="διάγραμμα"/>
			<xs:enumeration value="σχήμα"/>
			<xs:enumeration value="γράφημα"/>
			<xs:enumeration value="ευρετήριο"/>
			<xs:enumeration value="διαφάνεια"/>
			<xs:enumeration value="πίνακας"/>
			<xs:enumeration value="αφηγηματικό κείμενο"/>
			<xs:enumeration value="διαγώνισμα"/>
			<xs:enumeration value="πείραμα"/>
			<xs:enumeration value="διατύπωση προβλήματος"/>
			<xs:enumeration value="αυτοαξιολόγηση"/>
			<xs:enumeration value="διάλεξη"/>			
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="εικόνα"/>
			<xs:enumeration value="κείμενο"/>
			<xs:enumeration value="ήχος"/>
			<xs:enumeration value="βίντεο"/>
			<xs:enumeration value="μοντέλο"/>
			<xs:enumeration value="αναπαραστάσεις δεδομένων"/>
			<xs:enumeration value="διερεύνηση"/>
			<xs:enumeration value="ανοιχτή δραστηριότητα"/>
			<xs:enumeration value="ερευνητική δραστηριότητα"/>
			<xs:enumeration value="έργο"/>
			<xs:enumeration value="εκπαιδευτικό παιχνίδι"/>
			<xs:enumeration value="ασκήσεις πρακτικής και εξάσκησης"/>
			<xs:enumeration value="αξιολόγηση"/>
			<xs:enumeration value="μελέτη περίπτωσης"/>
			<xs:enumeration value="επίδειξη"/>
			<xs:enumeration value="παρουσίαση"/>
			<xs:enumeration value="εκπαιδευτικό σενάριο - σχέδιο μαθήματος"/>
			<xs:enumeration value="μάθημα"/>
			<xs:enumeration value="παιχνίδι ρόλων"/>
			<xs:enumeration value="εφαρμογή"/>
			<xs:enumeration value="εργαλείο"/>
			<xs:enumeration value="γλωσσάρι"/>
			<xs:enumeration value="οδηγός"/>
			<xs:enumeration value="διδακτικό εγχειρίδιο"/>
			<xs:enumeration value="πηγή - αναφορά"/>
			<xs:enumeration value="αναμετάδοση"/>
			<xs:enumeration value="ιστοσελίδα"/>
			<xs:enumeration value="ιστολόγιο"/>
			<xs:enumeration value="wiki"/>
			<xs:enumeration value="μέσο κοινωνικής δικτύωσης"/>
			<xs:enumeration value="χάρτης"/>
			<xs:enumeration value="παρτιτούρα"/>
			<xs:enumeration value="εννοιολογικός χάρτης"/>
			<xs:enumeration value="άλλο"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="learningResourceType">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="learningResourceTypeValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- 5.4 Semantic Density -->
	<xs:simpleType name="semanticDensityValues">
		<xs:restriction base="xs:token">
			<!-- IEEE LOM default values -->
			<xs:enumeration value="πολύ χαμηλό"/>
			<xs:enumeration value="χαμηλό"/>
			<xs:enumeration value="μεσαίο"/>
			<xs:enumeration value="υψηλό"/>
			<xs:enumeration value="πολύ υψηλό"/>
			<!-- Photodentro DS AP extended values -->
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="semanticDensity">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="semanticDensityValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- 5.5 Intended End Ure Role -->
	<xs:simpleType name="intendedEndUserRoleValues">
		<xs:restriction base="xs:token">
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="μαθητής"/>
			<xs:enumeration value="εκπαιδευτικός"/>
			<xs:enumeration value="δημιουργός"/>
			<xs:enumeration value="διοικητικό στέλεχος"/>
			<xs:enumeration value="γονέας"/>
			<xs:enumeration value="σύμβουλος"/>
			<xs:enumeration value="άλλος"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="intendedEndUserRole">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="intendedEndUserRoleValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- 5.6 Context -->
	<xs:simpleType name="contextValues">
		<xs:restriction base="xs:token">
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="προσχολική"/>
			<xs:enumeration value="δημοτικό"/>
			<xs:enumeration value="γυμνάσιο"/>
			<xs:enumeration value="γενικό λύκειο"/>
			<xs:enumeration value="τεχνολογικό λύκειο"/>
			<xs:enumeration value="επαγγελματική σχολή"/>
			<xs:enumeration value="ειδική αγωγή"/>
			<xs:enumeration value="άλλο"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="context">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="contextValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- 5.8 Difficulty -->
	<xs:simpleType name="difficultyValues">
		<xs:restriction base="xs:token">
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="πολύ εύκολο"/>
			<xs:enumeration value="εύκολο"/>
			<xs:enumeration value="μεσαίο"/>
			<xs:enumeration value="δύσκολο"/>
			<xs:enumeration value="πολύ δύσκολο"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="difficulty">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="difficultyValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="educational">
		<xs:sequence>
			<xs:element name="interactivityType" type="interactivityType" minOccurs="0"/>
			<xs:element name="learningResourceType" type="learningResourceType" minOccurs="0" maxOccurs="10"/>
			<xs:element name="semanticDensity" type="semanticDensity" minOccurs="0"/>
			<xs:element name="intendedEndUserRole" type="intendedEndUserRole" minOccurs="0" maxOccurs="10"/>
			<xs:element name="context" type="context" minOccurs="0" maxOccurs="10"/>
			<xs:element name="typicalAgeRange" type="LangString" minOccurs="0"/>
			<xs:element name="difficulty" type="difficulty" minOccurs="0"/>
			<xs:element name="typicalLearningTime" type="Duration" minOccurs="0"/>
			<xs:element name="description" type="LangString" minOccurs="0" maxOccurs="10"/>
			<xs:element name="language" type="Language" minOccurs="0" maxOccurs="10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="educational">
		<xs:sequence>
			<xs:element name="educational" type="educational"/>
		</xs:sequence>
	</xs:group>
	
<!-- ===================================================================================== -->	
<!-- 6. Rights -->
	
	<!-- 6.1 Cost -->
	<xs:simpleType name="costValues">
		<xs:restriction base="xs:token">
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="ναι"/>
			<xs:enumeration value="όχι"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="cost">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="costValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- 6.2 copyright And Other Restrictions -->
	<xs:simpleType name="copyrightAndOtherRestrictionsValues">
		<xs:restriction base="xs:token">
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="ναι"/>
			<xs:enumeration value="όχι"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="copyrightAndOtherRestrictions">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="copyrightAndOtherRestrictionsValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="rights">
		<xs:sequence>
			<xs:element name="cost" type="cost"/>
			<xs:element name="copyrightAndOtherRestrictions" type="copyrightAndOtherRestrictions"/>
			<xs:element name="description" type="LangString" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="rights">
		<xs:sequence>
			<xs:element name="rights" type="rights"/>
		</xs:sequence>
	</xs:group>
	
<!-- ===================================================================================== -->	
<!-- 7. Relation -->
	
	<!-- 7.1 Kind -->
	<xs:simpleType name="kindValues">
		<xs:restriction base="xs:token">
			<!-- IEEE LOM default values -->
			<xs:enumeration value="είναιμέροςτου"/>
			<xs:enumeration value="έχειμέρος"/>
			<xs:enumeration value="είναιέκδοσητου"/>
			<xs:enumeration value="έχειέκδοση"/>
			<xs:enumeration value="είναιμορφήτου"/>
			<xs:enumeration value="έχειμορφή"/>
			<xs:enumeration value="αναφέρεταισε"/>
			<xs:enumeration value="αναφέρεταιαπό"/>
			<xs:enumeration value="βασίζεταισε"/>
			<xs:enumeration value="είναιβάσηγια"/>
			<xs:enumeration value="απαιτεί"/>
			<xs:enumeration value="απαιτείταιαπό"/>
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="έχειπροεπισκόπηση"/>
			<xs:enumeration value="είναιπροεπισκόπησητου"/>
			<xs:enumeration value="είναιμετάφρασητου"/>
			<xs:enumeration value="έχειμετάφραση"/>			
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="kind">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="kindValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="relation">
		<xs:sequence>
			<xs:element name="kind" type="kind" minOccurs="0"/>
			<xs:element name="resource" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="identifier" minOccurs="0" maxOccurs="10">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="catalog" type="CharacterString" minOccurs="0"/>
									<xs:element name="entry" type="CharacterString" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="description" type="LangString" minOccurs="0" maxOccurs="10"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="relation">
		<xs:sequence>
			<xs:element name="relation" type="relation"/>
		</xs:sequence>
	</xs:group>
	
<!-- ===================================================================================== -->	
<!-- 8. Annotation -->
	
	<xs:complexType name="annotation">
		<xs:sequence>
			<xs:element name="entity" type="vCard" minOccurs="0"/>
			<xs:element name="date" type="Date" minOccurs="0"/>
			<xs:element name="description" type="LangString" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="annotation">
		<xs:sequence>
			<xs:element name="annotation" type="annotation"/>
		</xs:sequence>
	</xs:group>
	
<!-- ===================================================================================== -->	
<!-- 9. Classification -->
	
	<!-- 9.1 Purpose -->
	<xs:simpleType name="purposeValues">
		<xs:restriction base="xs:token">
			<!-- Photodentro DS AP extended values -->
			<xs:enumeration value="θεματική περιοχή"/>
			<xs:enumeration value="εκπαιδευτικός στόχος"/>
			<xs:enumeration value="επίπεδο γλωσσομάθειας"/>
			<xs:enumeration value="διδακτική/μαθησιακή προσέγγιση"/>
			<xs:enumeration value="ειδικές ανάγκες"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="purpose">
		<xs:complexContent>
			<xs:extension base="Vocabulary">
				<xs:sequence>
					<xs:element name="value" type="purposeValues"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="classification">
		<xs:sequence>
			<xs:element name="purpose" type="purpose"/>
			<xs:element name="taxonPath" maxOccurs="15">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="source" type="LangString"/>
						<xs:element name="taxon" maxOccurs="15">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="id" type="CharacterString"/>
									<xs:element name="entry" type="LangString"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="description" type="LangString" minOccurs="0"/>
			<xs:element name="keyword" type="LangString" minOccurs="0" maxOccurs="40"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="classification">
		<xs:sequence>
			<xs:element name="classification" type="classification"/>
		</xs:sequence>
	</xs:group>

<!-- ===================================================================================== -->	
<!-- Data Types Declaration -->
	
	<!-- CharacterString -->
	<xs:simpleType name="CharacterString">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<!-- LangString -->
	<xs:complexType name="LangString">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="string">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="CharacterString">
							<xs:attribute name="language" type="Language" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- VCard -->
	<xs:simpleType name="vCard">
		<xs:restriction base="CharacterString"/>
	</xs:simpleType>
	
	<!-- URI -->
	<xs:simpleType name="URI">
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
	
	<!-- MimeType -->
	<xs:simpleType name="MimeType">
		<xs:restriction base="CharacterString"/>
	</xs:simpleType>
	
	<!-- Size -->
	<xs:simpleType name="Size">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	
	<!-- Language -->
	<xs:simpleType name="Language">
		<xs:restriction base="CharacterString"/>
	</xs:simpleType>
	
	<!-- DateTime -->
	<!-- Regular expresion from Christian Klaue (IEEE LOM XML Schema file dataTypes.xsd)-->
	<xs:simpleType name="DateTimeString">
		<xs:restriction base="CharacterString">
			<xs:pattern value="([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]|[0-9][1-9][0-9]{2}|[1-9][0-9]{3})(\-(0[1-9]|1[0-2])(\-(0[1-9]|[1-2][0-9]|3[0-1])(T([0-1][0-9]|2[0-3])(:[0-5][0-9](:[0-5][0-9](\.[0-9]{1,}(Z|((\+|\-)([0-1][0-9]|2[0-3]):[0-5][0-9]))?)?)?)?)?)?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Date">
		<xs:sequence>
			<xs:element name="dateTime" type="DateTimeString" minOccurs="0"/>
			<xs:element name="description" type="LangString" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Duration -->
	<!-- Regular expresion from Christian Klaue (IEEE LOM XML Schema file dataTypes.xsd)-->
	<xs:simpleType name="DurationString">
		<xs:restriction base="CharacterString">
			<xs:pattern value="P([0-9]{1,}Y){0,1}([0-9]{1,}M){0,1}([0-9]{1,}D){0,1}(T([0-9]{1,}H){0,1}([0-9]{1,}M){0,1}([0-9]{1,}(\.[0-9]{1,}){0,1}S){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Duration">
		<xs:sequence>
			<xs:element name="duration" type="DurationString" minOccurs="0"/>
			<xs:element name="description" type="LangString" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Vocabulary -->
	<xs:simpleType name="PhotodentroVocab">
		<xs:restriction base="xs:token">
			<xs:enumeration value="PhotodentroAPv2.3"/>
			<xs:enumeration value="LOMv1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Vocabulary" abstract="true">
		<xs:sequence>
			<xs:element name="source" type="PhotodentroVocab"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>